/* DEFAULT STYLING */
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html, body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
  font-size: calc(16px + (21 - 16) * ((100vw - 300px) / (1600 - 300)));
  line-height: 1.25;
}

/* RETURN TO TOP BUTTON */
#topButton {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none; 
  background-color: rgba(82,103,123,.7);
  color: rgba(255,255,255,.7);
  cursor: pointer;
  padding: 15px; 
  border-radius: 15px;
  font-size: 16px;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

#topButton:hover {
  background-color: rgba(82,103,123,1);
  color: rgba(255,255,255,1);
}

/* SIDE NAV */
.sidebar {
  margin: 0;
  padding: 0;
  width: 14vw;
  background-color: white;
  position: fixed;
  height: 100vh;
  overflow: auto;
  font-size: calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300)));
  border-right: 1px solid lightgray;
}

.sidebar .name {
  padding: 20px 10px;
  background-color: #B3E5FC;
  border-bottom: 2px solid #4FC3F7;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #555;
  color: white;
}

/* SPLASH PAGE */
.splash {
  margin-left: 12vw;
  height: 100vh;
  font-size: calc(16px + (30 - 16) * ((100vw - 300px) / (1600 - 300)));
  color: whitesmoke;
  background-image: url('./public/images/brightbeach.jpg');
  background-color: rgba(70,78,81,.2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.splash-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* MAIN CONTENT */
.main-content {
  margin-left: 14vw;
}

/* GENERAL SITE SECTION STYLINGS */

/* .site-section {
  min-height: 60vh;
} */

.section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(12px + (22 - 12) * ((100vw - 300px) / (1600 - 300)));
  height: 10vh;
  padding: 0 10vw;
  background-color: #B3E5FC;
  text-transform: uppercase;
  color: black;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  border-bottom: 2px solid #4FC3F7;
}

.section-content {
  margin: 5vh 15vw;
  font-size: calc(12px + (22 - 12) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 300;
  line-height: 150%;
}

/* SKILLS */
.grid-skills {
  display: inline-grid;
  grid-template-columns: 20vw 20vw 20vw;
  row-gap: 10vh;
}

.individual-skill {
  position: relative;
  /* border: solid; */
}

.skill-text {
  position: absolute;
  width: 8vw;
  bottom: 0;
  text-align: center;
}

.individual-skill > img {
  width: 8vw;
  float: bottom;
  padding-bottom: 3vh;
  align-items: center;
}

/* PROJECTS */
.grid-projects {
  display: grid;
  grid-area: auto;
}

.individual-project {
  margin-bottom: 10vh;
}

.project-details > li {
  font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
  line-height: 150%;
}

.project-details > li > a {
 text-decoration: none;
}

.individual-project > p > img {
  width: 25vw;
  height: auto;
  float: left;
  margin-right: 5vw;
}

/* CONNECT */

.connect > .section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.connect p {
  font-size: calc(18px + (21 - 18) * ((100vw - 300px) / (1600 - 300)));
}

.connect-icons {
  font-size: 40px;
}

.connect a {
  color: rgba(0,0,0,.7);
  text-decoration: none;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

/* EMAIL FORM */

#emailer-button {
  background-color: rgba(0,0,0,.7);
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 20px;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

#emailer {
  margin: auto;
  width: 80vw;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 2vw;
  box-shadow: 10px 10px 5px grey;
  border-radius: 5%;
}

#emailer textarea {
  height: 100px;
}

input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

@media only screen and (min-width: 1001px ) {
  .small-screen-only {
    display: none;
  }
}

@media only screen and (max-width: 1000px ) {
  .individual-project > p > img {
    width: 40vw;
    float: none;
  }
}

@media only screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  .main-content {margin-left: 0vw;}
  .splash { margin-left: 0vw;}
  .grid-skills {
    grid-template-columns: 40vw 40vw;
  }
  .skill-text {
    width: 30vw;
  }
  .individual-skill > img {
    width: 30vw;
    padding-bottom: 5vh;
  }
}