*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
}

.parallax {
  position: relative;
  height: 100%;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.paralsec1 {
  background-image: url('./public/images/brightbeach.jpg');
}

.paralsec2 {
  background-image: url('./public/images/sunset.jpg');
}

.paralsec3 {
  background-image: url('./public/images/backgroundWood.jpg')
}

html, body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  font-family: 'Roboto', sans-serif;
  line-height: 1.25;
  font-size: 18px;
}

h2 {
  font-family: 'Special Elite', cursive;
}

.button {
  border: none;
  outline: none;
  font-size: calc(10px + 8 * ((100vw - 300px) / 1300));
  padding: 1vh 1vw;
  min-width: 75px;
  cursor: pointer;
  border-radius: 5px;
}

/* RETURN TO TOP BUTTON */
#topButton {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 5vw;
  z-index: 99;
  background-color: rgba(82,103,123,.7);
  color: rgba(255,255,255,.7);
}

#topButton:hover {
  background-color: rgba(82,103,123,1);
  color: rgba(255,255,255,1);
}

/* MAIN CONTENT */

/* SPLASH PAGE */
.splash {
  height: 100vh;
}

.splash-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Special Elite', cursive;
  font-size: calc(16px + 48 * ((100vw - 300px) / 1300));
  color: whitesmoke;
  text-shadow: 1px 1px 2px black;
}

/* GENERAL SITE SECTION STYLINGS */

.site-section {
  min-height: 60vh;
}

.section-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: calc(12px + 10 * ((100vw - 300px) / 1300));
  height: 6vh;
  padding: 0 18vw;
  background-color: #B3E5FC;
  text-transform: uppercase;
  color: black;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  border-bottom: 2px solid rgba(79, 195, 247, 1);
}

.section-content {
  padding: 5vh 20vw;
  font-size: calc(12px + 10 * ((100vw - 300px) / 1300));
  font-weight: 300;
  line-height: 150%;
}

/* ABOUT */

/* SKILLS */
.grid-skills {
  display: inline-grid;
  grid-template-columns: 15vw 15vw 15vw 15vw;
  row-gap: 5vh;
}

.individual-skill {
  position: relative;
  display: none;
  text-align: center;
  padding: 1vh 0;
}

.skill-text {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.individual-skill > img {
  width: 5vw;
  float: bottom;
  padding-bottom: 2vh;
  align-items: center;
}

/* Filter Skills List By Proficiency */

.centered {
  text-align: center;
  padding: 1vh 0;
}

.show {
  display: block;
}

.skill-btn {
  background-color: rgba(79, 195, 247, .25);
}

.skill-btn:hover {
  background-color: rgba(79, 195, 247, .50);
}

.skill-btn.active {
  background-color: rgba(79, 195, 247, 1);
  color: white;
}

/* PROJECTS */
.grid-projects {
  display: grid;
  grid-area: auto;
}

.individual-project img {
  width: 60vw;
  margin-right: 5vw;
  border: 1px solid #ddd; /* Gray border */
  border-radius: 5px;  /* Rounded border */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.project-details {
  padding: 1vh 3vw;
  overflow: hidden;
  font-size: calc(12px + 6 * ((100vw - 300px) / 1300));
  line-height: 150%;
}

.project-details > li > a {
 text-decoration: none;
}

/* CONNECT */

.connect > .section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.connect p {
  font-size: calc(18px + 4 * ((100vw - 300px) / 1300));
}

.connect-icons {
  font-size: 40px;
}

.connect a {
  color: rgba(0,0,0,.7);
  text-decoration: none;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

/* EMAIL FORM */

#emailer-button {
  background-color: rgba(0,0,0,.7);
  color: white;
  margin: 20px;
}

#emailer {
  margin: auto;
  width: 50vw;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  box-shadow: 10px 10px 5px grey;
}

#emailer textarea {
  height: 100px;
}

input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Footer */
footer {
  font-size: calc(12px + 8 * ((100vw - 300px) / 1300));
  font-family: 'Special Elite', cursive;
  text-align: center;
  background-color: rgba(179, 229, 252, 1);
  border-top: 2px solid rgba(79, 195, 247, 1);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 700px) {
  .about p {
    padding: 0 0;
  }
  .main-content {
    margin-left: 0vw; 
    margin-right: 0vw;
  }
  .splash {
    margin-left: 0vw;
  }
  .grid-skills {
    grid-template-columns: 20vw 20vw 20vw;
  }
  .skill-text {
    width: 100%;
  }
  .individual-skill > img {
    width: 15vw;
  }
  #emailer {
    width: 90vw;
  }
}
