body, html {
  margin: 0;
}

main {
  min-height: 100vh;
  background: url(fakelogo.png) center center no-repeat,
    linear-gradient(
      #fbc751,
      #fbb37b,
      #cd2a9c,
      #4187b4,
      #f49c9a
    );
}

#canvas-splash {
  width: 100vw;
  height: 100vh;
}