/* 
id should be used once; selector is a #
class can be used more than once; selector is a .
*/ 

/* default styling for entire body */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.25;
}

/* HEADER STYLES */
header {
  background: #222;
  color: #fff;
  padding: 10px 30px;
}

header #page-header {
  color: white;
  text-decoration: none;
  width: 49%; 
  display: inline-block
}

header img {
  width: 64px;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: middle;
}

header h2 {
  font-size: 16px;
}

/* MAIN NAVIGATION */
header #main-navigation {
  width: 49%;
  display: inline-block;
  text-align: right;
}

header #main-navigation ul {
  list-style: none;
}

header #main-navigation ul li {
  display: inline-block; 
}

header #main-navigation ul li a {
  color: white;
  text-decoration: none;
  padding: 0px 15px;
}

header #main-navigation ul li a:hover {
  background: #444;
  border-radius: 3px;
  transition: 0.3s ease all;
} 

/* MAIN CONTENT */

/* HERO SECTION */

.hero {
  min-height: 600px;
  text-align: center;
  background: #555;
  background-image: url('public/images/background3.jpg');
  background-color: #222;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-content {
  color: #000;
  padding-top: 130px;
}

.hero-title {
  margin: 0;
  font-size: 80px;
}

.hero-content p {
  font-size: 40px; 
  margin-bottom: 20px;
}

/* SITE SECTION STYLINGS */

.site-section {
  padding: 20px 0px;
}

.section-header {
  text-align: center;
}

.section-header h2 {
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  color: #777;
  padding-top: 20px;
}

.site-section-secondary {
  background: #EFEFEF;
}

/* ABOUT */

.about {
  background: #fff;
  width: 100%;
  padding: 0px 30px;
}

.about p {
  text-align: left;
}

/* CARDS */
.cards-box {
  display: inline-block;
  width: 33%;
  padding: 20px 30px;   
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.card-alt {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: left;
}

.card-text {
  margin: 10px;
}

.card-alt h1 {
  text-align: center;
}

.card img {
  width:100%;
  border-bottom: 1px solid lightgray;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #222;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}


/* SKILLS BOXES */

#skills {
  background-color: whitesmoke;
}

/* FOOTER */

footer   {
  background: #222;
  color: #777;
  padding: 40px;
  text-align: center;
}

footer img   {
  display: block;
  border-radius: 5px;
  width: 80px;
  margin: 0 auto 10px;
}

footer p a {
  color: #777;
  text-decoration: none;
}

/* BASIC MOBILE RESPONSIVE */

@media screen and (max-width: 768px) {

  /* HEADER   */
  header #page-header {
      width: 100%;
      display: block;
      text-align: center;
      margin-bottom: 20px;
  }
  header #main-navigation {
      width: 100%;
      display: block; 
      text-align: center;
  }

  header #main-navigation ul {
    padding: 0px;
  }
  
/*  HERO  */
  .hero {
      min-height: 300px;
  }
  .hero-content {
      padding-top: 80px;
  }
  .hero-title {
      font-size: 30px;
      padding: 0px 1px;
  }
  .hero-content p {
      font-size: 16px;
      margin-bottom: 30px;
  }
  .hero-content a {
      font-size: 14px;
      padding: 10px 15px;
      border-width: 1px;
      background: #FFF;
      color: #333;
  }
  
/* CARDS BOXES   */
  .cards-box {
      width: 100%;
      display: block;
  }
}


/* 

background

<a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@minkmingle?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Mink Mingle"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Mink Mingle</span></a> 
*/

/* 
background2

<a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@aleksandraboguslawska?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Aleksandra Boguslawska"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Aleksandra Boguslawska</span></a>
*/

/*
background3

<a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@frankiefoto?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from frank mckenna"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">frank mckenna</span></a>

*/
